<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="author" content="{{ page.author }}" />
  <meta name="keywords" content="{{ page.title }}{% for tag in page.tags %}, {{ tag }}{% endfor %}, {{ page.author }}" />
  <meta name="description" content="{{ page.subtitle }}" />
  <title>{{ page.title }} &mdash; {{ page.author }}</title>
  <link href="/favicon.ico" rel="shortcut icon" />
  
  <link rel="stylesheet" href="stylesheets/syntax.css" type="text/css" media="screen, projection" />
  <style type="text/css">
  {% include screen.css %}
  </style>
</head>
<body>
  <div id="box">
    <img id="logo" src="images/logo.png" alt="{{ page.title }}" />
    <h1 id="title"><a href="{{ page.homepage }}" alt="Homepage">{{ page.title }}</a></h1>
    <div id="subtitle">{{ page.subtitle }}</div>
    <div id="content">
    {{ content }}
    </div>
  </div>
  <div id="footer">updated on {{ page.date }} by {{ page.author }}</div>
  <a href="{{ page.homepage }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
</body>
</html>
