<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="blindgaenger" />
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="box">
    <div id="title">
      <img src="images/logo.png" alt="Sinatra-REST logo" />
      <a href="http://blindgaenger.github.com/sinatra-rest/" alt="Sinatra-REST Home">{{ page.title }}</a>
    </div>
    <div id="content">
    {{ content }}
    </div>
  </div>
  <div id="ribbon">
    <a href="http://github.com/blindgaenger/sinatra-rest"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
  </div>
</body>
</html>
